.wrapper {
  display: flex;
  background-color: #eee;
  min-height: 100vh;
  .add {
    width: 100%;
    .wrapperClassName {
      width: 400px;
    }
    .card-content {
      padding: 1rem;
      .product-type {
        margin-top: 2rem;
      }
      .product-unit,
      .product-count {
        margin-top: 2rem;
      }

      .button-container {
        margin-top: 1rem;
        display: flex;
        justify-content: end;

        button {
          width: 90px;
        }
      }
    }

    .table {
      margin-top: 5rem;
      width: auto;
    }
    .delete {
      width: 50px;
      text-align: center;

      svg {
        cursor: pointer;

        &:hover {
          color: red;
        }
      }
    }
  }
}
.Enter {
  opacity: 0;
}
.MyClassEnterActive {
  opacity: 0;
  // transition: 2s;
  // background-color: black;
}
.MyClassEnterDone {
  opacity: 1;
  transition: 5s;
}
.MyClassExit {
  left: 15px;
}
.MyClassExitActive {
  left: 5px;
  transition: left 500ms;
}
