.wrapper {
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  color: #3f6ad8;

  .content {
    display: flex;
    justify-content: center;
  }

  li {
    width: fit-content;
  }
  p {
    margin: 0;
    font-weight: 500;
  }
  div {
    display: flex;
    svg {
      margin-right: 0.5rem;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    width: 3rem;
    svg {
      margin: 0;
    }
  }
  .text-container {
    display: flex;
    color: white;
  }

  &:hover {
    background-color: var(--background-secondary);
    transition: 0.8s;

    p {
      font-family: "Lato";
      font-style: normal;
      font-weight: 800;
      color: #1ce0d9;
      transition: 0.1s;
    }
  }

  .active p {
    font-weight: 800;
    color: #1ce0d9 !important;
  }
}
