.primary {
  border-radius: 5px;
  outline: none !important;
  cursor: pointer;
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s,
    box-shadow 0.15s;
  color: #fff;
  background-color: #3f6ad8;
  border-color: #3f6ad8;
  padding: 0.5rem;
}
.secondary {
  border-radius: 1px;
  outline: none !important;
  cursor: pointer;
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s,
    box-shadow 0.15s;
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
  padding: 0.5rem;
}
