.primary {
  border-radius: 5px;
  outline: none !important;
  cursor: pointer;
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s,
    box-shadow 0.15s;
  background-color: var(--button-primary);
  padding: 0.5rem;
  border: none;

  & > * {
    color: var(--text-black) !important;
  }
}
.secondary {
  border-radius: 1px;
  outline: none !important;
  cursor: pointer;
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s,
    box-shadow 0.15s;
  color: var(--text-green);
  background-color: var(--button-secondary);
  border-color: var(--text-green);
  padding: 0.5rem;

  & > * {
    color: var(--text-white) !important;
  }
}
