.primary {
  border: 1px solid lightgreen;
  border-radius: 1px;
  padding: 1rem 2rem 1rem;
  background-color: inherit;
  color: lightsalmon;
}
.secondary {
  border: 1px solid lightsalmon;
  border-radius: 1px;
  padding: 1rem 2rem 1rem;
  background-color: inherit;
  color: lightgreen;
}
