.wrapper {
  display: flex;
  background-color: #eee;
  .row {
    display: flex;
    width: 100%;
    margin-top: 5rem;
  }

  .content {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;

    .row .product-count {
      margin-right: 5rem;
    }
    .row .recipt-count {
      margin-left: 5rem;
    }
    .counter-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .wrapperClassName {
        width: 600px;
        height: 200px;
        display: flex;
      }
      .contentClassName {
        padding: 1rem;
        align-self: center;
      }
    }

    .available-products {
      width: 50%;
      margin-right: 10%;
      .table {
        height: 400px;
      }
    }

    .last-recipts {
      width: 100%;
      .table {
        height: 400px;
      }
    }
  }
}
