.wrapper {
  display: flex;
  flex-direction: column;

  .input {
    height: 2rem;
    margin-top: 0.5rem;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid black;
    color: var(--text-white);
    &:focus {
      outline: none;
      border-bottom: 1px solid #3f6ad8;
    }
  }
}
