.wrapper {
  background-color: #ffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  .toggle-icon {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.open {
  width: 250px;
  height: 100%;
  transition: 0.8s;
}

.close {
  width: 100px;
  height: 100%;
  transition: 0.8s;
}
