.wrapperClassName {
  width: 100%;

  .table {
    width: 100%;
    border: 1px solid var(--text-green);
    border-spacing: 0;
    tr {
      border-color: inherit;
    }
    td {
      border: 1px solid var(--text-green);
      border-bottom: none;
      border-right: none;
      padding: 0.5rem;
    }
    th {
      border: 1px solid var(--text-green);
      border-bottom: none;
      border-right: none;
      padding: 0.5rem;
    }

    tbody tr {
      &:hover {
        background-color: var(--background-secondary);
      }
    }
  }
  .under-table {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
  }
}
.wrapper {
  padding: 1rem;
}
