@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu+Mono&display=swap");
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --green: #3ac47d;
  --red: #d92550;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
@keyframes fadeRight {
  from {
    transform: translate3d(-500px, 0, 0);
    transition: 0.25s all ease-in-out;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transition: 0.25s all ease-in-out;
  }
  to {
    opacity: 1;
  }
}
